@page
@using Aeropuertos.Infraestructura.API.Pages
@model IndexModel
<div class="container">
    <h2>Servicios que ofrecemos</h2>
    <p>
    En tiempos en los que, gracias al cada vez más estrecho vínculo entre la informática y la telefonía, la preparación de las visitas a cualquier instalación prestadora de servicios tiende a incluir una escala virtual previa para obtener cierta información de ella, convirtiéndose a menudo en un primer y determinante contacto con el lugar, con todo lo que ello supone en materia de primeras impresiones, variable que puede contribuir en el estado de ánimo del visitante a la hora de presentarse ahí, la importancia de los sitios web aeroportuarios crece cada día, por ende, a nadie sorprender entonces que algunos de las mejores páginas web correspondan también a terminales altamente calificadas en el mundo y que estas plataformas se hayan convertido en sus más efectivos canales de comunicación con sus usuarios.
    </p>

    <p>Es más, no me imagino hacer en la actualidad un viaje sin invertir una cantidad importante de tiempo buscando información en Internet, buena parte de la cual suelo dedicar a la que en la mayoría de los casos es la puerta de entrada o salida del destino: su aeropuerto.</p>

    <p>Las opiniones de los expertos a las que he tenido acceso y un ejercicio personal de consulta de algunas páginas, me permiten llegar a la conclusión de que existe una relación directa entre la calidad de la experiencia de transitar físicamente por un aeropuerto y la calidad de las visitas virtuales que el usuario le hace empleando su computadora, tableta o teléfono inteligente.</p>
</div>