@page "{id:Guid}"
@model Aeropuertos.Infraestructura.API.Pages.ClientePage.EditModel
@{
    ViewData["Title"] = "Edit";
}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2 class="h2">Editar Cliente</h2>
            <form method="post">
                <input type="hidden" asp-for="Cliente!.clienteId" />
                <div class="form-group">
                    <label class="control-label">Nombre</label>
                    <input asp-for="Cliente!.nombre" class="form-control" />
                </div>
                <br/>
                <div class="form-group">
                    <label class="control-label">Tipo</label>
                    <input asp-for="Cliente!.tipo" class="form-control" />
                </div>
                <br/>
                <div class="form-group">
                    <label class="control-label">Nacionalidad</label>
                    <input asp-for="Cliente!.nacionalidad" class="form-control" />
                </div>
                <br/>
                <div class="form-group">
                    <input type="submit" value="Enviar" class="btn btn-success" />
                    <a asp-page="../ClientePage/Index" class="btn btn-danger">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
